.topnav {
    overflow: hidden;
    background-color: #333;

}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

#login{
    float:right;
}


/* Banner */

#banner {
    background-image: url(../img/fondo3.jpg);
    background-position: center center;
    background-size: cover;
    color: #ffffff;
    padding: 14em 0em 14em;
    text-align: center;
}

#banner :last-child {
    margin-bottom: 0;
}

#banner h2 {
    color: #ffffff;
    font-size: 4em;
    line-height: 1.25em;
    margin: 0 0 0.5em 0;
    padding: 0;
}

#banner p {
    font-size: 1.5em;
    margin-bottom: 1.75em;
    color: black;
}

.input-center{
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;

}

@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);




