html, body {
    height: 100% !important;
    width: 100% !important;
    display: table;
    position: absolute;
}

h1{
    color: black;
    margin-bottom: 30px;
}

.col-form-label {
    color: black;
}


.container {
    vertical-align: middle;
    margin-top: 20px;
}

.btn-info{
    margin-top: 15px;
}

#principal{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.col-form-label{
    color: green;
}

/* CSS del botón */
.greenButton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 9px
    margin-top:15px;
    padding-top:12px;
}

.greenButton:hover{
    background-color: #52BD56;
}


