html, body {
    height: 100% !important;
    width: 100% !important;
    display: table;
    position: absolute;
    background-image:
            url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-141427.png");
}
.container {
    display: table-cell;
    vertical-align: middle;
}

.btn-info{
    margin-top: 15px;
}

#principal{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}